<div class="container">
    <div class="row">
        <div class="col-md-6 mb-2">
            <img class="img-fluid d-none d-sm-block" src="assets/img/home.jpg"
                alt="Imagem de um gato para as boas vindas" />
        </div>
        <div class="col-md-6">
            <h4 class="text-center">Login</h4>

            <form class="form mt-4" (ngSubmit)="login()" #loginForm="ngForm">
                <div class="form-group">
                    <input class="form-control" placeholder="Nome do usuário" [(ngModel)]="usuario" name="usuario"
                        #campoUsuario="ngModel" required />
                    <app-mensagem *ngIf="campoUsuario.invalid && campoUsuario.touched"
                        mensagem="Usuário obrigatório"></app-mensagem>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Senha" [(ngModel)]="senha" name="senha"
                        #campoSenha="ngModel" required />
                    <app-mensagem *ngIf="campoSenha.invalid && campoSenha.touched"
                        mensagem="Senha obrigatória"></app-mensagem>
                </div>
                <button type="submit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">Entrar</button>
            </form>

            <p>Não é um usuário?<a [routerLink]="['/novousuario']">Se cadastre!</a></p>
        </div>
    </div>
</div>