<div class="home_cards__container">
    <app-card 
        gameCover="assets/bt-1.jpg"
        gameLabel="DIGITAL"
        gameType="DIGITAL | PS5"
        gamePrice="R$ 129,99"
    ></app-card>
    <app-card 
        gameCover="assets/bt-4.jpg"
        gameLabel="EXCLUSIVE"
        gameType="DISCO | PS5"
        gamePrice="R$ 229,99"
    ></app-card>
    <app-card 
        gameCover="assets/bt-hardline.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 289,99"
    ></app-card>
    <app-card 
        gameCover="assets/bt-5.jpg"
        gameLabel="NEW"
        gameType="DIGITAL | PS4"
        gamePrice="R$ 389,99"
    ></app-card>
</div>
