.home_cards__container{
	width: 90%;
	margin: auto;
	padding-top: 50px;
	display: flex;

	justify-content: space-around;
	align-items: baseline;
	flex-wrap: wrap;
}

.home_cards__container__style.css{
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}
